body {
  margin: 0;
  background-color: rgb(168, 163, 156);
}

img {

  position: absolute;
}

.pappret {
  position: absolute;
  background-color: white;
  width: 30%;
  height: 85%;
  right: 35%;
  top: 5%;
  bottom: 10%;
  border-radius: 20px;
}

.bkgrndppr {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.hSida {
  position: absolute;
  background-color: #e7e5e8;
  width: 60.3%;
  height: 90%;
  right: 5%;
  top: 5%;
}

.name-plats {
  background-color: rgba(36, 51, 70, 255);
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding-right: 10px;
  margin-top: 20px;


}

.name {
  font-size: 30px;
  margin-bottom: 0px;
  padding-top: 20px;

}

.jobb {
  margin-top: 0;
  padding-bottom: 20px;
}

h3 {
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

ul{
 padding-left: 25px;
}
li{
padding-left: 20px;
margin-left: 0px;

}















/*vänster sida */
.vSida {
  position: absolute;
  background-color: rgba(36, 51, 70, 255);
  width: 30%;
  height: 90%;
  top: 5%;
  left: 5%;
}

.bild {
  top: 2%;
  left: 20%;
  height: 80px;
  width: 80px;
  border-radius: 50px;
}

h4{
  color: white;
  margin-left: 20px;
  font-size: 18px;
  margin-bottom: 0px;
}
.omMig {
  padding-top: 70%;
 
  color: white;
}

p {
  color: white;
  margin-left: 10%;
  font-size: 12px;
  margin-top: 5px;

}