body {
  margin: 0;
}
img {
  width: 100%;
  height: 739px;
  position: absolute;
}
.pappret {
  position: absolute;
  background-color: white;
  width: 30%;
  height: 85%;
  right: 35%;
  top: 5%;
  bottom: 10%;
}
.bkgrndppr {
  height: 100%;
  width: 100%;
}
.hSida {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 60.3%;
  height: 90%;
  right: 5%;
  top: 5%;
}

/*vänster sida */
.vSida {
  position: absolute;
  background-color: rgb(19, 23, 73);
  width: 30%;
  height: 90%;
  top: 5%;
  left: 5%;
}
.bild {
  top: 2%;
  left: 20%;
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.omMig{
    padding-top: 70%;
    padding-left: 10%;
    color: white;
}
p{
    color: white;
    padding-left: 10%;
}
